@custom-media --mq-medium (max-width: 800px);

:root {
  --primary-color: #f97eb5;
}

@media (--mq-medium) {
  :root {
    --primary-color: yellow;
  }
}

body {
  font-family: 'Helvetica';
  background-color: var(--primary-color);
}
