
@import "type";

// set object specific values for things like colour, font, width, height etc which
// can then be re-used and changed globally.

$primary-color: #deb39b;
$main-font: "Open Sans";
$mid-screen: 1040px;
$small-screen: 425px;
$font-color: #425365;

// creates a streamlined media query which can be re-used easily for individual elements
// divs, sections etc - set width above then nest within individual rules.

@mixin mq($width) {
  @media (max-width: $width) {
    @content;
  }
}

// creates a mixin for perfectly centering items on a page - can be reused easily
// use instead of adding multiple classes in the html

@mixin dead-center () {
  display: flex;
  justify-content: center;
  align-items: center;
}





body {
  background-color: $primary-color;
  color: #fff;
  width: 100%;
  font-family: $main-font, sans-serif;
  font-size: 16px;

  @include dead-center();
}

.wrapper {
  width: 40%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include mq($small-screen) {
    width: 80%;
  }
}

h1 {
  font-size: 3em;
  color: $font-color;
}

p {
  line-height: 1.4;
  color: $font-color;
}
